<div class="grid flex">
    <div class="col-6 mx-auto">
        <div class="border-solid border-round surface-border">
            <multiple-years></multiple-years>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="border-solid border-round surface-border">
            <top-studios></top-studios>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="border-solid border-round surface-border">
            <producer-min-max-interval></producer-min-max-interval>
        </div>
    </div>
    <div class="col-6 mx-auto">
        <div class="border-solid border-round surface-border">
            <movie-winner-by-year></movie-winner-by-year>
        </div>
    </div>
</div>